body { 
  background: black;


}
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.background {
  overflow: hidden;
  position: relative;
  background: black; 
  z-index: -1;
  width: 200px;
  height: 200px;
  background: url("image1.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotate 20s infinite linear;
  z-index: -1;
}



@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

button {
    z-index: 1;

    left: 50%;
    transform: translateX(-50%);
    font-family: Consolas;
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 15em;
    height: 4em;
    
    
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }



  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
  .animation {
    word-wrap: break-word;
    color : white;
    font: bold 200% Consolas, Monaco, monospace, white;
    border-right: .1em solid white;
    width: 40.40ch;
    margin: 2em 2em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 5s steps(40, end),
                 blink-caret .5s step-end infinite alternate;
  }

