body {
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  height: 80px;
  font-size: 20px;
}

nav a {
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
  font-family: 'Nemoy';
}

nav a::after {
  content: '';
  position: relative;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #ffffff;
  transition: 0.4s;
}


html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
  overflow: hidden;
  position: relative;
  background: black;
  z-index: -1;
  width: 200px;
  height: 200px;
  background: url("image1.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotate 20s infinite linear;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.fa {
  z-index: 1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.5s;
  left: 50%;
  transform: translateX(-50%);
  font-family: Consolas;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #ffffff;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 15em;
  height: 4em;
}

.fa::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%; 
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
  transform-origin: center;
}

.fa::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
}

.fa:hover::before,
.fa:hover::after {
  transform: scale(0);
}

.fa:hover {
  box-shadow: inset 0px 0px 25px #ffffff;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.animation {
  word-wrap: break-word;
  color: white;
  font: bold 200% Consolas, Monaco, monospace, white;
  border-right: 0.1em solid white;
  width: 40.40ch;
  margin: 2em 2em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(40, end), blink-caret 0.5s step-end infinite alternate;
}

nav a img {
  transition: transform 0.3s ease;
}

nav a img:hover {
  transform: scale(3);
}


.fun,.fun::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position:relative;
  left: 82%;
  height: 10%;
  cursor:wait;
  bottom: 84%;
  top: 200px;
  
  
}

.fun::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'CHAOS';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.fun:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.fun:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.fun:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

